<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>stephensavoia.github.io</title>
    <link rel="stylesheet" href="assets/css/styles.css" />
  </head>
  <body class="light-mode">
    <div class="container mx-auto max-w-[1024px] w-full p-4 pb-20">
      {% include "components/navbar.html" %} {{ content | safe }}
    </div>
    {% include "components/footer.html" %}
    <script src="assets/js/script.js"></script>
  </body>
</html>
