@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  margin: 1.85rem 0 0.3rem 0;
  display: block;
  font-family: Georgia, serif;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
}

h2 {
  margin: 0px auto 25px auto;
  display: block;
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

h3 {
  margin: 4px 10px 4px 10px;
  font-family: Georgia, serif;
  font-size: 22px;
  line-height: 30px;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 0.95rem;
  line-height: 1.5rem;
}

p {
  margin: 10px;
  color: #222;
}

.tools {
  margin: 0px 10px 0px 10px;
  font-style: italic;
  color: #777;
}

/* Links */

a,
.button {
  opacity: 1;
  color: black;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

a:hover,
.button:hover {
  opacity: 0.6;
  transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
}

/* Buttons */

.button {
  display: inline-block;
  width: 1.5rem;
  margin: 0.5rem 0.25rem 0rem 0.25rem;
}

/* Image */

.row img {
  max-width: 150px;
  border-radius: 50%;
  margin: 10px auto 10px 0px;
  display: block;
}

/* Layout */
div {
  padding: 0;
  margin: 0;
}

.links_container {
  text-align: center;
}

.row {
  max-width: 775px;
  margin: 0px auto 35px auto;
  display: flex;
  flex-wrap: wrap;
}

.row-left {
  width: 22%;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.row-right {
  width: 78%;
  display: flex;
  flex-direction: column;
  place-content: center;
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */

  .row {
    max-width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .row-left {
    width: 100%;
    float: none;
    display: block;
    text-align: center;
  }

  .row-right {
    width: 100%;
    float: none;
    display: block;
    text-align: center;
  }

  /* Image */

  .row img {
    margin: 1.5rem auto 0.5rem auto;
    display: block;
  }

  /* Text */

  h2 {
    margin: 35px auto 20px auto;
  }

  h3 {
    text-align: center;
    margin-top: 20px;
  }

  p {
    margin: 10px 20px 10px 20px;
  }
}
