@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes staticNoise {
  0%,
  100% {
    background-image: url("/assets/svg/noise1.svg");
  }
  20%,
  80% {
    background-image: url("/assets/svg/noise2.svg");
  }
  30%,
  70% {
    background-image: url("/assets/svg/noise3.svg");
  }
  40%,
  60% {
    background-image: url("/assets/svg/noise4.svg");
  }
  50% {
    background-image: url("/assets/svg/noise5.svg");
  }
}

.animated-noise-bg {
  background: rgb(255, 255, 255);
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url("/assets/svg/noise1.svg"); */
  animation: staticNoise 1s steps(5) infinite;
}

@keyframes gradientFlow {
  0%,
  100% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 15%;
  }
}

#about {
  background: radial-gradient(#ffefba80, #93b0fb80);
  background-size: 150% 200%;
  animation: gradientFlow 15s ease-in-out infinite;
}

/* Project badges */

.badge-outline {
  color: rgba(119, 119, 119, 1);
}

/* End of project badges */

/* Skills bar */
.steps {
  margin-left: -7.5%;
  width: 115%;
  margin-bottom: 0.5rem;
}
.steps .step {
  min-width: 0;
  grid-template-rows: 1.5rem 1fr;
}
.steps .step:before {
  height: 0.4rem;
  background-color: rgba(190, 190, 190, 1);
}
.steps .step-neutral + .step-neutral:before,
.steps .step-neutral:after {
  background-color: rgba(34, 34, 34, 1);
}
.steps .step:after {
  width: 1.25rem;
  height: 1.25rem;
}
.steps .step-empty:after {
  width: 1.25rem;
  height: 1.25rem;
  background-color: rgba(190, 190, 190, 1);
}
/* End of skills bar */

#about p.day-mode {
  color: #222222;
}
