@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes staticNoise {
  0%,
  100% {
    background-image: url("/assets/svg/noise1.svg");
  }
  20%,
  80% {
    background-image: url("/assets/svg/noise2.svg");
  }
  30%,
  70% {
    background-image: url("/assets/svg/noise3.svg");
  }
  40%,
  60% {
    background-image: url("/assets/svg/noise4.svg");
  }
  50% {
    background-image: url("/assets/svg/noise5.svg");
  }
}

.animated-noise-bg {
  background: rgb(255, 255, 255);
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: url("/assets/svg/noise1.svg"); */
  animation: staticNoise 1s steps(5) infinite;
}

@keyframes gradientFlow {
  0%,
  100% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 15%;
  }
}

#about {
  background: radial-gradient(ellipse, #ffefba80, #93b0fb80);
  background-size: 150% 200%;
  animation: gradientFlow 15s ease-in-out infinite;
}

/* Project badges */

.badge-outline {
  color: rgba(119, 119, 119, 1);
}

/* End of project badges */

/* Skills bar */
.steps {
  margin-left: -7.5%;
  width: 115%;
  margin-bottom: 0.5rem;
}
.steps .step {
  min-width: 0;
  grid-template-rows: 1.5rem 1fr;
}
.steps .step:before {
  height: 0.4rem;
  background-color: rgba(190, 190, 190, 1);
}
.steps .step-neutral + .step-neutral:before,
.steps .step-neutral:after {
  background-color: rgba(34, 34, 34, 1);
}
.steps .step:after {
  width: 1.25rem;
  height: 1.25rem;
}
.steps .step-empty:after {
  width: 1.25rem;
  height: 1.25rem;
  background-color: rgba(190, 190, 190, 1);
}
/* End of skills bar */

/* Contact form */
.btn-primary:hover,
body.dark-mode .btn-primary:hover {
  background-color: #373737;
}
/* End of contact form */

/* Dark mode */
body.dark-mode,
body.dark-mode .bg-base-100 {
  background-color: #121212;
  color: #d6d6d6;
}

:where(
    body.dark-mode
      .menu
      li:not(.menu-title, .disabled)
      > *:not(ul, details, .menu-title)
  ):not(.active, .btn):hover {
  background-color: #282828;
}

body.dark-mode .animated-noise-bg {
  background-color: #1e1e1e;
}

@keyframes gradientFlowDarkMode {
  0%,
  100% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 10%;
  }
}

body.dark-mode #about {
  background: radial-gradient(ellipse, #d9c0755d, #13347a96);
  background-size: 150% 200%;
  animation: gradientFlowDarkMode 10s ease-in-out infinite;
}

body.dark-mode .divider-neutral::after {
  background-color: #d6d6d6;
}

body.dark-mode .flex .card {
  border: 2px solid #373737;
}

body.dark-mode .steps .step-neutral + .step-neutral:before,
body.dark-mode .steps .step-neutral:after,
body.dark-mode .btn-primary {
  background-color: #454545;
}

body.dark-mode form input,
body.dark-mode form textarea {
  background-color: #282828;
  color: #d6d6d6;
  border: 1px solid #d6d6d6;
}

body.dark-mode form input:-webkit-autofill,
body.dark-mode form textarea:-webkit-autofill,
body.dark-mode form input:-webkit-autofill:hover,
body.dark-mode form textarea:-webkit-autofill:hover,
body.dark-mode form input:-webkit-autofill:focus,
body.dark-mode form textarea:-webkit-autofill:focus,
body.dark-mode form input:-webkit-autofill:active,
body.dark-mode form textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #282828 inset !important;
  box-shadow: 0 0 0px 1000px #282828 inset !important;
  -webkit-text-fill-color: #d6d6d6 !important;
  color: #d6d6d6 !important;
  border: 1px solid #d6d6d6 !important;
}

body.dark-mode .bg-primary {
  background-color: #282828;
  color: #d6d6d6;
}

body.dark-mode .badge {
  background-color: #282828;
  color: #d6d6d6bb;
  border: 1px solid #d6d6d6bb;
}

body.dark-mode form input::placeholder,
body.dark-mode form textarea::placeholder {
  color: #d6d6d699;
}

body.dark-mode form input:active,
body.dark-mode form textarea:active,
body.dark-mode form input:focus,
body.dark-mode form textarea:focus {
  border: 1px solid #256aff;
}

/* End of dark mode */

/* Dark mode stars */

.animated-noise-bg {
  position: relative;
  overflow: hidden;
}

.stars {
  display: none;
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  animation: animateBg 50s linear infinite;
}

body.dark-mode .stars {
  display: block;
}

@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation: animate 3s linear infinite;
}
.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0s;
  animation-duration: 2s; /* Increased by 1s */
}
.star:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 4s; /* Increased by 1s */
}
.star:nth-child(3) {
  top: 80;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 3s; /* Increased by 1s */
}
.star:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 2.5s; /* Increased by 1s */
}
.star:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 3.5s; /* Increased by 1s */
}
.star:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 4s; /* Increased by 1s */
}
.star:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 2.75s; /* Increased by 1s */
}
.star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 2.25s; /* Increased by 1s */
}
.star:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 3.25s; /* Increased by 1s */
}
.star:nth-child(9) {
  /* Duplicate selector, consider fixing */
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 3.75s; /* Increased by 1s */
}

/* End of dark mode stars */

/* Projects section */
.card figure img {
  transition: transform 0.3s ease-out;
}
.card:hover figure img {
  transform: scale(1.03);
}
.card figure {
  overflow: hidden;
}
.card:hover h3 {
  text-decoration: underline;
  text-underline-offset: 2px;
}
/* End of project sections */

/* Project pages */
.hero {
  border-radius: 4px;
}
.project-hero {
  background: radial-gradient(ellipse, #ffffff, #f2f2f2);
  background-size: 150% 200%;
  animation: gradientFlow 15s ease-in-out infinite;
}
body.dark-mode .project-hero {
  background: radial-gradient(ellipse, #000000, #252525);
}
.project-badge {
  color: black;
}
body.dark-mode .project-badge {
  color: #d6d6d6;
}
.mobile-video {
  max-width: 13rem;
}